*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hide {
  display: none; }

html {
  font-size: 16px; }

body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button {
  border: 0;
  outline: 0; }

.header {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #c6c6c6; }

.header-logo {
  display: block; }

.product {
  padding-top: 1rem; }

.product-title {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-family: "Lora", serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #171717; }

.product-slider {
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: scroll; }

.product-item img {
  display: block; }

.product-info {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem; }

.product-price {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: #171717;
  line-height: 1.1875rem; }

.product-id {
  margin-top: 0.125rem;
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #171717; }

.color {
  padding-left: 1rem;
  padding-right: 1rem; }

.color-actual {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #171717; }

.color-actual {
  margin: 0;
  margin-bottom: 1rem; }

.color-options {
  display: flex;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: solid 1px #c6c6c6; }

.color-btn {
  display: block;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  font-size: 0;
  border-radius: 50%;
  border: solid 1px transparent; }
  .color-btn--black {
    background-color: #232122; }
  .color-btn--honey {
    background-color: #cfa880; }
  .color-btn--active {
    border: solid 1px #232122; }
  .color-btn:active {
    border: solid 1px #232122; }

.product-btn-wrap {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem; }

.product-btn {
  display: block;
  padding: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  border: solid 1px #999999;
  background-color: #fff; }
  .product-btn:active {
    background-color: #171717;
    border: solid 1px #171717;
    color: #fff; }
  .product-btn-black {
    background-color: #171717;
    border: solid 1px #171717;
    color: #fff; }

.product-help {
  margin-top: 0.5rem;
  align-self: flex-start;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #171717;
  padding: 0;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.info-block {
  border-top: solid 1px #c6c6c6;
  padding: 2rem 1rem; }
  .info-block .info-block-body {
    display: none; }
  .info-block:last-child {
    border-bottom: solid 1px #c6c6c6; }
  .info-block-header {
    display: block;
    padding: 0;
    position: relative;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: transparent;
    width: 100%;
    text-align: left; }
    .info-block-header::after {
      content: '';
      position: absolute;
      top: 2px;
      right: 0;
      width: 0.625rem;
      height: 0.75rem;
      background: url("../images/triangle-down.svg") center 2px no-repeat; }
  .info-block--open .info-block-body {
    display: block; }
  .info-block--open .info-block-header::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 0.625rem;
    height: 0.625rem;
    background: url("../images/triangle-down.svg") center no-repeat;
    transform: rotate(180deg); }
  .info-block-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #171717; }
  .info-block-body {
    padding-top: 2rem; }
    .info-block-body p {
      margin: 0;
      font-size: 0.875rem;
      font-family: "Lora", serif;
      line-height: 1.5rem; }

.suggest {
  padding: 2.75rem 1rem;
  padding-top: 3rem;
  padding-bottom: 1rem; }
  .suggest-title {
    display: inline-block;
    margin: 0;
    font-size: 1rem;
    line-height: 1.1875rem;
    font-weight: 500;
    color: #171717;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    position: relative;
    margin-bottom: 1.5rem; }
    .suggest-title::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #171717; }
  .suggest-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap; }
  .suggest-item {
    max-width: calc(50% - 14px);
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    margin-bottom: 1rem; }
  .suggest-link {
    display: block;
    font-size: 1rem;
    text-decoration: none; }
  .suggest-image {
    width: 100%;
    height: auto;
    margin-bottom: 0.3125rem; }
  .suggest-item-title {
    margin: 0;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #171717;
    margin-bottom: 0.5625rem; }
  .suggest-price {
    margin: 0;
    font-size: 0.75rem;
    color: #999999;
    font-weight: 400; }

.more {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 3.0625rem; }
  .more-title {
    display: inline-block;
    position: relative;
    margin: 0;
    margin-bottom: 1.4375rem;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.1875rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 0.5625rem;
    color: #171717; }
    .more-title::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #171717; }
  .more-list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .more-link {
    font-size: 14px;
    line-height: 1.0625rem;
    font-family: "Lora", serif;
    color: #171717;
    text-decoration: none;
    font-style: italic; }

.more-item {
  display: inline-block;
  margin: 0 0 15px; }

.footer {
  padding: 2.0625rem 1rem;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column; }
  .footer-link {
    display: block;
    margin-bottom: 1.125rem;
    padding: 0;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    font-size: 0.75rem;
    color: #999999;
    text-decoration: none;
    text-align: left;
    background-color: transparent; }
  .footer-help {
    margin: 0;
    padding: 0;
    margin-top: 0.5625rem;
    margin-bottom: 1.125rem;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background: transparent;
    line-height: 1;
    color: #171717; }
  .footer-contacts-us {
    display: block;
    font-family: "Lora", serif;
    font-size: 0.875rem;
    font-style: italic;
    text-decoration: none;
    color: #171717;
    text-align: center; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .md-hide {
    display: none; }

  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }

  .product {
    padding-top: 1.5rem; }

  .product-title {
    padding-left: 0.4375rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #111111; }

  .product-slider {
    margin-left: -8px; }
    .product-slider img {
      vertical-align: bottom; }

  .product-info {
    padding: 0;
    margin-right: -8px; }

  .color {
    padding: 0;
    margin-right: -8px; }

  .product-btn-wrap {
    padding: 0;
    margin-right: -8px; }

  .info-block {
    padding: 0;
    padding-top: 1.5rem;
    margin: 0 0.5rem;
    margin-bottom: 1.5rem;
    border-top: 0; }

  .info-block-body {
    padding-top: 1rem; }

  .info-block-header::after {
    display: none; }

  .delivery {
    margin-bottom: 1.5rem; }
    .delivery img {
      display: block;
      margin-left: -0.5rem; }
    .delivery-right {
      margin-right: -0.5rem;
      margin-left: 0.0625rem; }
    .delivery-title {
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
      font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.1875rem;
      text-transform: uppercase;
      color: #171717; }
    .delivery-list {
      margin: 0;
      padding: 0;
      list-style: none; }
    .delivery-item {
      margin: 0;
      padding: 0;
      margin-bottom: 1.5rem;
      display: block; }
      .delivery-item-title {
        margin: 0;
        padding: 0;
        margin-bottom: 0.25rem;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: #171717; }
      .delivery-item-desc {
        font-size: 0.75rem;
        line-height: 1rem;
        color: #171717; }

  .suggest {
    padding: 0;
    margin-bottom: 2rem; }
    .suggest-title {
      margin-left: 0.5rem;
      margin-bottom: 1rem; }
    .suggest-list {
      justify-content: space-around; }
    .suggest-item {
      max-width: calc(25% - 16px); }
    .suggest-item-title {
      margin-bottom: 0.5rem; }

  .footer {
    padding-top: 2rem; }
    .footer-link {
      display: inline-block;
      margin-right: 1.5rem;
      margin-bottom: 2rem;
      line-height: 1rem; }
    .footer-mnu {
      margin-bottom: 32px; }
    .footer-mnu-title {
      margin-bottom: 1rem;
      font-size: 0.75rem;
      line-height: 1;
      font-weight: bold;
      color: #171717; }
    .footer-mnu-list {
      padding: 0;
      margin: 0;
      list-style: none; }
      .footer-mnu-list li {
        display: block;
        margin-bottom: 0.75rem; }
    .footer-mnu-link {
      display: block;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 600;
      color: #999999;
      text-decoration: none; }
      .footer-mnu-link:last-child {
        margin-bottom: 0; } }
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=main.css.map */
