//color


body {
   min-width: 320px; 
   font-family: 'Raleway', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    padding: 16px;
    padding: 16px;
    border: solid 1px #c6c6c6;
}
