//fonts
$font_size: 16px;
$raleway: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$lora: 'Lora', serif;

//color
$black: #171717;
$black-two: #171717;
$warm-grey: #999999;
$white: #f3f3f3;
$fawn: #cfa880;

.hide {
  display: none;
}

html {
  font-size: 16px;
}

body {
  font-family: $raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 0.0625rem #c6c6c6;
}

.header-logo {
  display: block;
}

.product {
  padding-top: 1rem;
}

.product-title {
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  font-family: $lora;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: $black-two;
}

.product-slider {
  display: flex;
  margin: 0;
  padding: 0;
  margin: 0 -0.5rem;
  overflow-x: scroll;
}

.product-image {
  display: block;
}

.product-info {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}

.product-price {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: $black-two;
  line-height: 1.188rem;
}

.product-id {
  margin-top: 0.125rem;
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  color: $black;
}

.color {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.color-actual {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: $black;
}

.color-actual {
  margin: 0;
  margin-bottom: 1rem;
}

.color-options {
  display: flex;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: solid 0.0625rem #c6c6c6;
}

.color-btn {
  display: block;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  font-size: 0;
  border-radius: 50%;
  border: solid 0.0625rem transparent;
  &--black {
    background-color: #232122;
  }
  &--honey {
    background-color: $fawn;
  }
  &--active {
    border: solid 0.0625rem #232122;
  }
  &:active {
    border: solid 0.0625rem #232122;
  }

}

.product-btn-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 3rem;
}

.product-btn {
  display: block;
  padding: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: $raleway;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.125rem;
  border: solid 0.0625rem $warm-grey;
  background-color: #fff;
  &:active {
    background-color: $black;
    border: solid 0.0625rem $black;
    color: #fff;
  }
  &-black {
    background-color: #171717;
    border: solid 0.0625rem #171717;
    color: #fff;
  }
}

.product-help {
  margin-top: 0.5rem;
  align-self: flex-start;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #171717;
  padding: 0;
  border: 0;
  font-family: $raleway;
}

.divine-line {
  margin: 0;
  border: 0;
  border-top: solid 0.0625rem #c6c6c6;
}

.info-block {
  padding: 2rem 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  & .info-block-body {
    display: none;
  }
  &-header {
    display: block;
    padding: 0;
    position: relative;
    font-family: $raleway;
    background-color: transparent;
    width: 100%;
    border: 0;
    text-align: left;
    &::after {
      content: '';
      position: absolute;
      top: 0.125rem;
      right: 0;
      width: 0.625rem;
      height: 0.75rem;
      background: url('../images/triangle-down.svg') center 0.125rem no-repeat;

    }
  }
  &--open {
    & .info-block-body {
      display: block;
    }
    .info-block-header::after {
      content: '';
      position: absolute;
      top: 0.3125rem;
      right: 0;
      width: 0.625rem;
      height: 0.625rem;
      background: url('../images/triangle-down.svg') center no-repeat;
      transform: rotate(180deg);
    }
  }
  &-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #171717;
  }
  &-body {
    padding-top: 2rem;
    p {
      margin: 0;
      font-size: 0.875rem;
      font-family: $lora;
      line-height: 1.5rem;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 0.875rem;
      font-family: $lora;
      line-height: 1.5rem;
    }
  }
}

.suggest {
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  &-title {
    display: inline-block;
    margin: 0;
    font-size: 1rem;
    line-height: 1.188rem;
    font-weight: 500;
    color: #171717;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    position: relative;
    margin-bottom: 1.5rem;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.0625rem;
      background-color: #171717;
    }
  }
  &-link {
    display: block;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-decoration: none;
  }
  &-image {
    width: 100%;
    height: auto;
    margin-bottom: 0.3125rem;
  }
  &-item-title {
    margin: 0;
    font-family: $lora;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.188rem;
    color: $black-two;
    margin-bottom: 0.5625rem;
  }
  &-price {
    margin: 0;
    font-size: 0.75rem;
    color: $warm-grey;
    font-weight: 400;
  }
}

.more {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 3.063rem;
  &-title {
    display: inline-block;
    position: relative;
    margin: 0;
    margin-bottom: 1.438rem;
    font-family: $raleway;
    font-size: 1rem;
    line-height: 1.188rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 0.5625rem;
    color: $black-two;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.0625rem;
      background-color: $black-two;
    }
  }
  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &-link {
    font-size: 0.875rem;
    line-height: 1.063rem;
    font-family: $lora;
    color: #171717;
    text-decoration: none;
    font-style: italic;;
  }
}

.more-item {
  margin: 0 0 0.9375rem;
}

.footer {
  padding: 2.063rem 0.5rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  &-link {
    display: block;
    margin-bottom: 1.125rem;
    padding: 0;
    font-family: $raleway;
    line-height: 1;
    font-size: 0.75rem;
    color: $warm-grey;
    text-decoration: none;
    text-align: left;
    border: 0;
    background-color: transparent;
  }
  &-help {
    margin: 0;
    padding: 0;
    margin-top: 0.5625rem;
    margin-bottom: 1.125rem;
    font-family: $raleway;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background: transparent;
    line-height: 1;
    color: #171717;
  }
  &-contacts-us {
    display: block;
    font-family: $lora;
    font-size: 0.875rem;
    font-style: italic;
    text-decoration: none;
    color: #171717;
    text-align: center;
  }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .hidden-xs {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .divine-line {
    display: none;
  }
  .hidden-xs {
    display: block;
  }
  .md-hide {
    display: none;
  }
  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .product {
    padding-top: 1.5rem;

  }
  .product-title {
    padding-left: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #111111;
  }
  .product-slider {
    margin: 0;
  }
  .product-info {
    padding: 0;
    margin-bottom: 1rem;
  }
  .color {
    padding: 0;
    margin: 0;
  }
  .product-btn-wrap {
    padding: 0;
    margin: 0;
  }
  .product-help {
    //margin-left: 0.0625rem;
    margin-top: 7px;
  }
  .info-block {
    padding: 0;
    margin: 0;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 0;
  }
  .info-block-body {
    padding-top: 1rem;
    font-size: 0.875rem;
    font-family: "Lora", serif;
    line-height: 1.5rem;

  }
  .info-block-header::after {
    display: none;
  }
  //delivery
  .delivery {
    margin-bottom: 1.5rem;
    &-image {
      display: block;
      width: 100%;
    }
    &-right {
    }
    &-title {
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
      font-family: $raleway;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.188rem;
      text-transform: uppercase;
      color: #171717;
    }
    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &-item {
      margin: 0;
      padding: 0;
      margin-bottom: 1.5rem;
      display: block;
      &-title {
        margin: 0;
        padding: 0;
        margin-bottom: 0.25rem;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: #171717;
      }
      &-desc {
        font-size: 0.75rem;
        line-height: 1rem;
        color: #171717;
      }
    }
  }
  .suggest {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    &-title {
      //margin-left: 0.5rem;
      margin-bottom: 1rem;
    }
    &-list {
      justify-content: space-around;
    }
    &-item {
      max-width: calc(25% - 16px);
    }
    &-item-title {
      margin-bottom: 0.5rem;
    }
  }
  .footer {
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    &-link {
      display: inline-block;
      margin-right: 1.5rem;
      margin-bottom: 2rem;
      line-height: 1rem;
      border: 0;
    }
    &-menu {
      margin-bottom: 32px;
      margin-left: -8px;
      margin-right: -8px;
    }
    &-menu-title {
      margin-bottom: 1rem;
      font-size: 0.75rem;
      line-height: 1;
      font-weight: bold;
      text-transform: uppercase;
      color: #171717;
    }
    &-menu-list {
      padding: 0;
      margin: 0;
      list-style: none;
      & li {
        display: block;
        margin-bottom: 0.75rem;
      }
    }
    &-menu-link {
      display: block;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 600;
      color: $warm-grey;
      text-decoration: none;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .footer-links {
    margin-left: 8px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
