
//fonts
$font_size: 16px;
$raleway: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$lora: 'Lora', serif;

 @function rem($pixels){
         @return $pixels / 16 + rem;
     }

//color
$black: #171717;
$black-two: #171717;
$warm-grey: #999999;
$white: #f3f3f3;
$fawn: #cfa880;

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
   font-size: 16px; 
}
body {
    font-family: $raleway;
}
button {
    border: 0;
    outline:0;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: rem(14);
    border-bottom: solid 1px #c6c6c6;
}

.product {
    padding-top: rem(24);
    
}

.product__title {
    margin: 0;
    padding: 0;
    font-family: $lora;
    font-size: rem(14);
    padding-left: rem(16);
    margin-bottom: rem(24);
    color: $black-two;
}

.product__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: scroll;
}
.product__item img {
    display: block;
}

.product__info {
    padding-top: rem(24);
    padding-left: rem(16);
    padding-right: rem(16);
}

.product__info-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(16);
}

.product__price {
    margin: 0;
    font-weight: 400;
    font-size: rem(18);
    color: $black-two;
}

.product__id {
    margin-top: rem(4);
    margin-right: rem(3);
    margin-bottom: 0;
    font-size: rem(12);
    color: $black;
}

.color__title {
    margin: 0;
    font-size: rem(12);
    color: $black;
    margin-bottom: rem(16);
}

.color__inner {
    display: flex;
    padding-bottom: rem(34);
    margin-bottom: rem(33);
    border-bottom: solid 1px #c6c6c6;
}

.color__btn {
  border: 0;
  padding: rem(19);
  border-radius: 50%;
  margin-right: rem(16);
  border: solid 1px transparent;
  cursor: pointer;
  transition: border-color .2s ease-in;
  &--black {
      background-color: #232122;
  }
  &--honey {
      background-color: $fawn;
  }
  &:active {
    border: solid 1px #232122;
  }

}

.product__btn-wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: rem(48);
}

.product__btn  {
  display: block;
  border-radius: 2px;
  border: solid 1px $warm-grey;
  background-color: #fff;
  padding: rem(14);
  text-transform: uppercase;
  font-size: rem(12);
  margin-bottom: rem(16);
  font-family: $raleway;
  transition: all .2s ease-out;
  &:last-child {
      margin-bottom: rem(24);
  }
  &:active {
    background-color: $black;
    border: solid 1px $black;
    color: #fff;
  }
}

.product__help {
    margin-top: rem(10);
    align-self: flex-start;
    background-color: #fff;
    text-transform: uppercase;
    font-size: rem(12);
    color: #171717;
    padding: 0;
    font-family: $raleway;
}

.info-block {
     border-top: solid 1px #c6c6c6;
     padding: rem(31) rem(16);
     &:last-child {
         border-bottom: solid 1px #c6c6c6;
     }
     &__header {
         display: flex;
         justify-content: space-between;
         cursor: pointer;
     }
     &__title {
         margin: 0;
         text-transform: uppercase;
         font-size: rem(14);
         font-weight: 500;
         color: #171717;
     }
     &__arrow {
         display: block;
         padding: 5px;
         background: url('../image/triangle.svg') center center no-repeat;
     }  
    &__body {
        padding-top: 32px;
        display: none;
        p {
            margin: 0;
            font-size: rem(14);
            line-height: 1.71;
        }
    } 
}


.suggest {
    padding: rem(44) rem(16);
    padding-bottom: rem(17);
    &__title {
        display: inline-block;
        margin: 0;
        font-size: rem(14);
        font-weight: 500;
        color: #171717;
        text-transform: uppercase;
        padding-bottom: 9px;
        position: relative;
        margin-bottom: rem(31);
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #171717;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        max-width: calc(50% - 14px);
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    &__link {
        display: block;
        font-size: rem(16);
        text-decoration: none;
    }
    &__image {
        width: 100%;
        height: auto;
        margin-bottom: rem(9);
    }
    &__item-title {
        margin: 0;
        font-family: $lora;
        font-size: rem(16);
        line-height: 1.5;
        color: $black-two;
        margin-bottom: 8px;
    }
    &__price {
        margin: 0;
        font-size: rem(12);
        color: $warm-grey;
        font-weight: 400;
    }
}

.more {
    padding-right: rem(16);
    padding-left: rem(16);
    margin-bottom: rem(56);
    &__title {
        display: inline-block;
        margin: 0;
        font-family: $lora;
        font-size: rem(14);
        color: $black-two;
        text-transform: uppercase;
        padding-bottom: 9px;
        position: relative;
        margin-bottom: rem(17);
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $black-two;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__link {
        display: block;
        font-family: $lora;
        font-style: italic;
        font-size: rem(14); 
        color: #171717;
        text-decoration: none; 
        padding: rem(8) 0 ;
    }
}

.footer {
    padding: rem(32) rem(16);
    background-color: $white;
    display: flex;
    flex-direction: column;
    &__link {
        display: block;
        font-size: rem(12);
        color: $warm-grey;
        text-decoration: none;
        margin-bottom: rem(16);
    }
    &__help {
        margin: 0;
        font-size: rem(14);
        font-weight: bold;
        color: #171717;
        text-align: center;
        margin-top: rem(8);
        margin-bottom: rem(16);
    }
    &__contacts-us {
        display: block;
        font-family: lora;
        font-size: rem(14);
        font-style: italic;
        text-decoration: none;
         color: #171717;
         text-align: center;
    }
}
